/* google font style */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap")
  /* common CSS styles */ * {
  margin: 0px;
  padding: 0px;
}
/* body style */

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header,
main {
  max-width: 1170px;
  padding: 50px 130px;
}

:root {
  --primary-color: #ff5400;
  --secondary-color: #131318;
  --description-color: rgba(19, 19, 24, 0.7);
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  padding: 14px 34px;
}
.content-title {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 2.5em;
}
.content-description {
  color: var(--description-color);
  font-weight: 400;
  margin: 20px 0px;
}
.box-title {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 24px;
}
/* nav styles start from here */

.nav-logo {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style: none;
  color: #424247;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 40px;
}
nav ul {
  display: flex;
}
#home {
  color: var(--primary-color);
}
.logo-title-content {
  color: var(--secondary-color);
}
.logo-title {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 15px;
}
.nav-logo span {
  color: var(--primary-color);
}
/* nav styles end here */

/* banner style start from here */
.banner-container {
  border-radius: 16px;
  background-repeat: no-repeat;
  margin: 50px 0px;
  background-size: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner\ bg.png");
}

.banner-content {
  text-align: center;
  color: #fff;
  padding-inline: 60px;
  padding: 0px 180px;
}
.banner-title {
  font-weight: 800;
  font-size: 4rem;
  padding: 0px 100px;
}

/* form style */
.form {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.315);
  padding: 16px;
}

.input-style {
  padding: 16px 80px 16px 15px;
  border-radius: 8px;
  background: #fff;
  border: none;
}
.btn-submit {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 16px 35px 16px 70px;
}

/* banner style end here */

/* Tour styles section start */
.tour-container {
  display: flex;
  gap: 50px;
  margin: 50px auto;
}

#list-content {
  margin: 20px 0px;
}

/* Tour styles section end */

/* Destination style start */

.destination-container {
  margin: 100px 0px;
}
.destination-content {
  text-align: center;
  padding-inline: 250px;
}
.img-row-one {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.img-row-two {
  display: flex;
  gap: 20px;
  margin: 20px 0px;
}
.img-row-three {
  display: flex;
  gap: 20px;
}

/* Destination style end */

/* Why Choose Us styles start */

.choose-us-content {
  text-align: center;
  padding-inline: 250px;
}
/* Why Choose Us styles end */
/* Deals & Discounts section start */
.discounts-container {
  background-image: url("../Images/Group\ 40.png");
}
/* Deals & Discounts section end */

.yt-video iframe {
  border-radius: 16px;
}

/* footer styles */
.footer-container {
  background-color: #1313181c;
  margin: auto;
  padding: 100px 180px;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-title-content {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 15px;
}
.logo-title-content span {
  color: var(--primary-color);
}
.social-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-description {
  color: var(--description-color);
  font-weight: 400;
  text-align: center;
}
#hr {
  color: var(--description-color);
  margin: 50px 0px;
}
